*{
    margin:0;
    padding:0;
    box-sizing: inherit;
}
#container{
    width:400px;
    margin: 240px auto ;
    padding:50px;
    box-sizing: border-box;
    background:url("/assets/background.jpg") ;
    border-radius: 5px;
    text-align:center; 

}
button{
    background:#6c2726;
    color:white;
    border:none;
    border-bottom:solid 4px #222;
    text-transform:uppercase;
    font-size:18px;
    padding: 20px 30px;
    width:100%
}
button:hover{
    background:#4c2827;
    border-bottom-color:#111;
}
button:active{
    position:relative;
    top:1px;
}
